---

{% if mirror_registry is defined %}
mirrors:
  docker.io:
    endpoint:
      - {{ mirror_registry.address }}
      - docker.io
{% endif %}

{% if private_registry is defined %}
configs:
  {{ private_registry.address }}:
    auth:
      username: {{ private_registry.username }}
      password: {{ private_registry.password }}
{% endif %}

{% if mirror_registry is defined %}
  {{ mirror_registry.address }}:
    auth:
      username: {{ mirror_registry.username }}
      password: {{ mirror_registry.password }}
{% endif %}
